<h1>Testing my get form request</h1>
<form method="get" action="/test-query">
    <input type="text" name="testData"/>
    <input type="text" name="test2"/>
    <button type="submit">Submit form</button>
</form>