<h1>This is the post form</h1>
<form method="post" action="/test-post-form">
    <input type="text" name="textData"/>
    <input type="number" name="myFavNumber"/>
    <button type="submit">Submit post form</button>
</form>